# Configuration Docker PostgreSQL
DB_USER=ton_utilisateur
DB_PASSWORD=ton_mot_de_passe
DB_NAME=nom_de_la_base

# URL de connexion pour Prisma
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5433/${DB_NAME}?schema=public"